.product-container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
}

@media (max-width:639px) {
    .product-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
