body {
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  background-color: rgb(43, 43, 58);
  padding: 0px 10px;
  color: white;
  position: sticky;
  top: 0;
  left: 0;
}

nav>main {
  display: flex;
  align-items: center;

}

main>ul {
  display: flex;
  align-items: center;
  list-style: none;
}

ul>li>a {
  text-decoration: none;
  margin: 0px 5px;
  color: white;
}

li>a:hover {
  opacity: 0.5;
  transition: all 0.7s;
}

h1 {
  font-family: math;
  font-weight: 100;
}

.cartCard {
  width: 200px;
  height: 300px;
  margin: 31px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
}

.cartCard:hover {
  transition: all 0.7s;
  transform: scale(1.1);
}

.cartCard>img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.products-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}